@import './variables';

body {
    background: $background_body;
    transition: background-color .3s;
}

@import './nav';

@import './inicio';

@import './sobre-mi';

@import './skills';

@import './estudios';

@import './proyectos';

@import './contacto';

@import './dark-mode';

.rodapie {
    text-align: center;
    width: 100%;
}

.rodapie__description-heart {
    color: #ff000077;
}