body {
  background: #dedfec;
  transition: background-color 0.3s;
}
body::-webkit-scrollbar {
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background: #037f8c;
}
body::-webkit-scrollbar-thumb:hover {
  background: #42919a;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
}
header .header_conteiner {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  padding: 0 1rem;
  background: #dedfec;
  justify-content: space-between;
  border-bottom: solid 0.5px rgba(136, 136, 136, 0.2666666667);
  transition: background-color 0.3s;
}
header .header_conteiner .name {
  font-size: 1.5rem;
  user-select: none;
  cursor: pointer;
}
header .header_conteiner .name::before {
  content: "{ ";
  font-size: 2.3rem;
  color: #037f8c;
}
header .header_conteiner .name::after {
  content: " }";
  font-size: 2.3rem;
  color: #037f8c;
}
header .header_conteiner .nav {
  display: flex;
  gap: 2rem;
  padding: 1.25rem;
}
header .header_conteiner .nav .nav_item .nav_item_a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #000000;
}
header .header_conteiner .nav .nav_item .nav_item_a:hover {
  border-bottom: solid 3px #037f8c;
  color: rgba(0, 0, 0, 0.6);
}

@media (min-width: 280px) and (max-width: 768px) {
  header .header_conteiner {
    text-align: center;
    display: block;
    padding-top: 0.5rem;
    margin: 0;
  }
  header .header_conteiner .nav {
    padding-top: 2rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem 2rem;
  }
  header .header_conteiner .nav .nav_item .nav_item_a {
    font-size: 1rem;
  }
}
.inicio {
  display: flex;
  width: 80%;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  gap: 2rem;
  padding: 1rem;
  position: relative;
}
.inicio .checkbox-mode {
  position: absolute;
  top: 0;
  left: 0;
}
.inicio .checkbox-mode #mode {
  display: none;
}
.inicio .checkbox-mode label {
  display: flex;
  position: absolute;
  top: 10px;
  left: 10px;
  border: 2px solid #037f8c;
  border-radius: 40px;
  padding: 5px;
}
.inicio .checkbox-mode label .fa-sun {
  color: orange;
  font-size: 20px;
  text-shadow: 0 0 10px orange;
  transform: translateX(15px);
  opacity: 1;
  transition: 0.3s;
}
.inicio .checkbox-mode label .fa-moon {
  color: #fff;
  font-size: 20px;
  text-shadow: 0 0 10px #fff;
  transform: translateX(0px);
  opacity: 0;
  transition: 0.3s;
}
.inicio .checkbox-mode #mode:checked ~ label > .fa-sun {
  opacity: 0;
  transform: translateX(0px);
  border-color: #88d0d8;
}
.inicio .checkbox-mode #mode:checked ~ label > .fa-moon {
  opacity: 1;
  transform: translateX(-20px);
}
.inicio .inicio__info {
  margin: 2rem 0 1.5rem 0;
  width: calc(70% - 1.5rem);
  text-align: left;
}
.inicio .inicio__info .inicio__title {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
.inicio .inicio__info .inicio__title .saludo {
  color: #037f8c;
  animation: saludo 1s linear infinite;
  transform: rotate(20deg);
}
@keyframes saludo {
  50% {
    transform: rotate(35deg);
  }
}
.inicio .inicio__info .inicio__description {
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.3rem;
  padding: 0.5rem 0;
}
.inicio .inicio__info .inicio__redes {
  display: flex;
  width: 80%;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  gap: 3rem;
  margin-top: 1rem;
}
.inicio .inicio__info .inicio__redes .inicio__redes_link {
  text-decoration: none;
  font-size: 1.2rem;
  color: #000000;
}
.inicio .inicio__info .inicio__redes .inicio__redes_link:hover {
  border-bottom: solid 3px #037f8c;
  color: rgba(0, 0, 0, 0.6);
  border: none;
}
.inicio .inicio__info .inicio__redes .inicio__redes_link .icon-redes {
  color: #037f8c;
}
.inicio .inicio__img {
  width: 30%;
}
.inicio .inicio__img .inicio__img-imagen {
  width: 100%;
  border-radius: 40%;
  height: 350px;
}

@media (min-width: 280px) and (max-width: 500px) {
  .inicio {
    width: 100%;
    box-sizing: border-box;
  }
  .inicio .inicio__info {
    width: 100%;
  }
  .inicio .inicio__info .inicio__title {
    font-size: 1.3rem;
  }
  .inicio .inicio__info .inicio__description {
    font-size: 0.7rem;
  }
  .inicio .inicio__info .inicio__redes {
    gap: 1.5rem;
    margin-top: 0.5rem;
  }
  .inicio .inicio__info .inicio__redes .inicio__redes_link {
    font-size: 0.8rem;
  }
  .inicio .inicio__img {
    width: 0;
  }
  .inicio .inicio__img .inicio__img-imagen {
    display: none;
  }
}
@media (min-width: 500px) and (max-width: 768px) {
  .inicio {
    width: 100%;
    box-sizing: border-box;
  }
  .inicio .inicio__info {
    width: 100%;
    align-items: center;
  }
  .inicio .inicio__info .inicio__title {
    font-size: 1.7rem;
  }
  .inicio .inicio__info .inicio__description {
    font-size: 0.9rem;
  }
  .inicio .inicio__info .inicio__redes {
    margin-top: 0.5rem;
    gap: 2rem;
  }
  .inicio .inicio__info .inicio__redes .inicio__redes_link {
    font-size: 0.9rem;
  }
  .inicio .inicio__img {
    width: 0;
  }
  .inicio .inicio__img .inicio__img-imagen {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .inicio {
    width: 100%;
    box-sizing: border-box;
  }
  .inicio .inicio__info {
    width: 60%;
  }
  .inicio .inicio__info .inicio__title {
    font-size: 1.8rem;
  }
  .inicio .inicio__info .inicio__description {
    font-size: 1rem;
  }
  .inicio .inicio__info .inicio__redes {
    margin-top: 0.75rem;
  }
  .inicio .inicio__info .inicio__redes .inicio__redes_link {
    font-size: 1rem;
  }
  .inicio .inicio__img {
    width: 35%;
  }
  .inicio .inicio__img .inicio__img-imagen {
    width: 100%;
    border-radius: 40%;
    height: 300px;
  }
}
@media (min-width: 1024px) and (max-width: 1250px) {
  .inicio {
    width: calc(100% - 4rem);
    margin: 0 2rem;
  }
  .inicio .inicio__info .inicio__title {
    font-size: 2.7rem;
  }
  .inicio .inicio__img .inicio__img-imagen {
    width: 100%;
    border-radius: 40%;
    height: 300px;
  }
}
.sobre_mi {
  box-sizing: border-box;
  background: rgba(176, 210, 224, 0.7450980392);
  padding: 1.5rem 0;
}
.sobre_mi .sobre_mi__conteiner {
  width: 80%;
  margin: 1.5rem auto;
}
.sobre_mi .sobre_mi__conteiner .sobre_mi__title {
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6666666667);
  padding-bottom: 1rem;
}
.sobre_mi .sobre_mi__conteiner .sobre_mi__description {
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.3rem;
  padding: 0.5rem 0;
}

@media (min-width: 280px) and (max-width: 500px) {
  .sobre_mi .sobre_mi__conteiner {
    margin: 0.5rem auto;
  }
  .sobre_mi .sobre_mi__conteiner .sobre_mi__title {
    font-size: 1.5rem;
  }
  .sobre_mi .sobre_mi__conteiner .sobre_mi__description {
    font-size: 0.8rem;
  }
}
@media (min-width: 500px) and (max-width: 1024px) {
  .sobre_mi .sobre_mi__conteiner {
    margin: 0.5rem auto;
  }
  .sobre_mi .sobre_mi__conteiner .sobre_mi__title {
    font-size: 2rem;
  }
  .sobre_mi .sobre_mi__conteiner .sobre_mi__description {
    font-size: 0.9rem;
  }
}
.skills {
  padding-top: 1rem;
  box-sizing: border-box;
}

.skills_conteiner {
  display: flex;
  width: 80%;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  display: block;
  margin: 3rem auto;
}
.skills_conteiner .skills__title {
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6666666667);
  margin: 0 0 1rem 0;
}
.skills_conteiner .skills__habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  justify-content: space-evenly;
}
.skills_conteiner .skills__habilidades .skills__habilidades_card {
  width: 125px;
  height: 125px;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.2666666667);
  text-align: center;
}
.skills_conteiner .skills__habilidades .skills__habilidades_card .icon_skills {
  font-size: 5rem;
  padding: 10px;
  color: #037f8c;
}
.skills_conteiner .skills__habilidades .skills__habilidades_card .icon_description {
  color: rgba(0, 0, 0, 0.4);
}

@media (min-width: 280px) and (max-width: 500px) {
  .skills_conteiner .skills__habilidades {
    margin-top: 2rem;
    gap: 1rem 0.4rem;
    padding: 0;
  }
  .skills_conteiner .skills__habilidades .skills__habilidades_card {
    width: 100px;
    height: 100px;
  }
  .skills_conteiner .skills__habilidades .skills__habilidades_card .icon_skills {
    font-size: 4rem;
  }
}
@media (min-width: 500px) and (max-width: 768px) {
  .skills_conteiner .skills__habilidades {
    gap: 2rem 0.4rem;
    padding: 0;
  }
  .skills_conteiner .skills__habilidades .skills__habilidades_card {
    width: 100px;
    height: 100px;
  }
  .skills_conteiner .skills__habilidades .skills__habilidades_card .icon_skills {
    font-size: 4rem;
  }
}
.estudios {
  display: flex;
  width: 80%;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  display: block;
  padding-top: 1rem;
  box-sizing: border-box;
}
.estudios .estudios__title {
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6666666667);
  padding-bottom: 1rem;
}
.estudios .estudios_conteiner {
  margin: 2rem 0 0 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-evenly;
}
.estudios .estudios_conteiner .estudio__formaciones_card {
  width: 325px;
  text-align: start;
  padding: 0 0 0.5rem 0;
}
.estudios .estudios_conteiner .estudio__formaciones_card .estudio__formaciones_card-img {
  width: 100%;
  height: 200px;
  margin: 0 0 0.5rem 0;
}
.estudios .estudios_conteiner .estudio__formaciones_card .formaciones__card_title {
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6666666667);
  font-size: 1.5rem;
  padding: 0 0 0.2rem 0;
}
.estudios .estudios_conteiner .estudio__formaciones_card .formaciones__card_description {
  color: rgba(0, 0, 0, 0.4);
}

@media (min-width: 280px) and (max-width: 535px) {
  .estudios {
    margin: 0 auto;
  }
  .estudios .estudios_conteiner {
    width: 100%;
    gap: 1rem;
  }
  .estudios .estudios_conteiner .estudio__formaciones_card {
    width: 100%;
  }
}
@media (min-width: 535px) and (max-width: 768px) {
  .estudios {
    margin: 0 auto;
  }
  .estudios .estudios_conteiner {
    width: 100%;
    gap: 1rem;
  }
  .estudios .estudios_conteiner .estudio__formaciones_card {
    width: 200px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .estudios .estudios_conteiner .estudio__formaciones_card {
    width: 225px;
  }
}
.proyectos {
  width: 80%;
  margin: 2rem auto 0 auto;
  text-align: center;
  box-sizing: border-box;
  padding-top: 1rem;
}
.proyectos .proyectos_title {
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6666666667);
}
.proyectos .proyectos_conteiner {
  margin: 2rem 0 0 0;
  width: 100%;
  display: flex;
  gap: 2rem 6rem;
  flex-wrap: wrap;
}
.proyectos .proyectos_conteiner .proyectos__card {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 40%;
  position: relative;
  background-color: rgba(176, 210, 224, 0.7450980392);
  border-radius: 40px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3333333333);
}
.proyectos .proyectos_conteiner .proyectos__card .proyectos__card_title {
  text-align: center;
  color: #FFF;
  margin: 0.5rem 0;
}
.proyectos .proyectos_conteiner .proyectos__card .proyectos__card_img {
  border-radius: 40px;
  padding: 1.5rem;
}
.proyectos .proyectos_conteiner .proyectos__card .proyectos__card_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4666666667);
  width: 100%;
  height: 100%;
  border-radius: 40px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  gap: 2rem;
}
.proyectos .proyectos_conteiner .proyectos__card .proyectos__card_btn .proyectos__card_btn-btn {
  background-color: #ffffff;
  border: none;
  padding: 1rem;
  color: #037f8c;
  border-radius: 20px;
  text-decoration: none;
}
.proyectos .proyectos_conteiner .proyectos__card .proyectos__card_btn .proyectos__card_btn-btn:hover {
  transform: scale(1.05);
}
.proyectos .proyectos_conteiner .proyectos__card .proyectos__card_btn .proyectos__card_btn-btn-sec {
  border: 1px solid #037f8c;
  background-color: transparent;
  color: #FFFFFF;
  border-radius: 20px;
  text-decoration: none;
  padding: 1rem;
}
.proyectos .proyectos_conteiner .proyectos__card .proyectos__card_btn .proyectos__card_btn-btn-sec:hover {
  transform: scale(1.05);
}
.proyectos .proyectos_conteiner .proyectos__card:hover > .proyectos__card_btn {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 280px) and (max-width: 500px) {
  .proyectos .proyectos_conteiner .proyectos__card {
    width: 100%;
  }
  .proyectos .proyectos_conteiner .proyectos__card .proyectos__card_img {
    padding: 0.5rem 1rem;
  }
  .proyectos .proyectos_conteiner .proyectos__card .proyectos__card_btn {
    gap: 1rem;
  }
  .proyectos .proyectos_conteiner .proyectos__card .proyectos__card_btn .proyectos__card_btn-btn,
.proyectos .proyectos_conteiner .proyectos__card .proyectos__card_btn .proyectos__card_btn-btn-sec {
    padding: 0.5rem;
  }
}
@media (min-width: 500px) and (max-width: 1024px) {
  .proyectos .proyectos_conteiner .proyectos__card {
    width: 80%;
    margin: 0 auto;
  }
}
.contacto {
  width: 80%;
  margin: 2rem auto;
  padding: 0.5rem 0;
}
.contacto .contacto_conteiner {
  width: 65%;
  margin: 0 auto;
  display: flex;
  padding: 0.5rem;
}
.contacto .contacto_conteiner .icon_conteiner {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 6rem;
  padding-right: 5rem;
}
.contacto .contacto_conteiner .icon_conteiner .contacto_icon {
  font-size: 8rem;
  color: #037f8c;
}
.contacto .contacto_conteiner .icon_conteiner .contacto_icon:hover {
  animation: shake 0.25s;
}
@keyframes shake {
  30% {
    transform: rotate(-15deg);
  }
  80% {
    transform: rotate(15deg);
  }
}
.contacto .contacto_conteiner .form_conteiner {
  width: calc(70% - 0.5rem);
  margin: 2rem 0;
  align-items: center;
}
.contacto .contacto_conteiner .form_conteiner .contacto_title {
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6666666667);
}
.contacto .contacto_conteiner .form_conteiner .contacto__description {
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.3rem;
  padding: 0.5rem 0;
}
.contacto .contacto_conteiner .form_conteiner .contacto__description:nth-of-type(1) {
  margin: 1rem 0 0.2rem 0;
}
.contacto .contacto_conteiner .form_conteiner .contacto__description:nth-of-type(2) {
  margin-bottom: 1rem;
}
.contacto .contacto_conteiner .form_conteiner .form .input_conteiner {
  position: relative;
  margin-bottom: 0.5rem;
}
.contacto .contacto_conteiner .form_conteiner .form .input_conteiner input {
  box-sizing: border-box;
  width: 100%;
  max-width: 550px;
  margin: 1rem 0 0.5rem 0;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: solid 1px #037f8c;
  padding: 0.4rem 0;
}
.contacto .contacto_conteiner .form_conteiner .form .input_conteiner input::placeholder {
  visibility: hidden;
}
.contacto .contacto_conteiner .form_conteiner .form .input_conteiner input:focus + label, .contacto .contacto_conteiner .form_conteiner .form .input_conteiner input:not(:placeholder-shown) + label {
  font-size: 0.875rem;
  top: -0.15rem;
  transition: all 0.25s;
}
.contacto .contacto_conteiner .form_conteiner .form .input_conteiner input.error {
  border-color: #EE0000;
}
.contacto .contacto_conteiner .form_conteiner .form .input_conteiner label {
  position: absolute;
  top: 1.1rem;
  left: 0;
  transition: all 0.25s;
}
.contacto .contacto_conteiner .form_conteiner .form .input_conteiner span.input-message-error {
  color: #EE0000;
  font-size: 0.7rem;
  visibility: hidden;
  display: block;
}
.contacto .contacto_conteiner .form_conteiner .form textarea {
  box-sizing: border-box;
  width: 100%;
  max-width: 550px;
  margin: 1rem 0 0.5rem 0;
  border: none;
  outline: none;
  padding: 0.7rem;
  border-radius: 25px;
  box-sizing: border-box;
  resize: none;
  background: rgba(255, 255, 255, 0.2666666667);
  display: block;
  margin-bottom: 0.5rem;
}
.contacto .contacto_conteiner .form_conteiner .form textarea:focus {
  outline: solid 2px #037f8c;
}
.contacto .contacto_conteiner .form_conteiner .form .btn_conteiner {
  width: 100%;
  text-align: center;
}
.contacto .contacto_conteiner .form_conteiner .form .btn_conteiner .btn_form {
  border: solid 2px #037f8c;
  width: 50%;
  padding: 0.5rem 0;
  text-transform: uppercase;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.2666666667);
  max-width: 350px;
  transition: 0.3s;
}
.contacto .contacto_conteiner .form_conteiner .form .btn_conteiner .btn_form:active {
  transform: scale(0.9);
}

@media (min-width: 280px) and (max-width: 500px) {
  .contacto {
    width: 100%;
  }
  .contacto .contacto_conteiner {
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }
  .contacto .contacto_conteiner .icon_conteiner {
    display: none;
  }
  .contacto .contacto_conteiner .form_conteiner {
    width: 80%;
    margin: 1.5rem auto;
  }
  .contacto .contacto_conteiner .form_conteiner .contacto_title {
    font-size: 2rem;
  }
  .contacto .contacto_conteiner .form_conteiner .contacto__description {
    font-size: 1rem;
  }
}
@media (min-width: 500px) and (max-width: 768px) {
  .contacto {
    width: 100%;
  }
  .contacto .contacto_conteiner {
    width: 100%;
    padding: 0;
  }
  .contacto .contacto_conteiner .icon_conteiner {
    width: 20%;
    padding: 0 2rem;
  }
  .contacto .contacto_conteiner .icon_conteiner .contacto_icon {
    font-size: 5rem;
  }
  .contacto .contacto_conteiner .form_conteiner {
    width: calc(80% - 0.5rem);
    padding: 0 3rem;
  }
  .contacto .contacto_conteiner .form_conteiner .contacto_title {
    font-size: 2rem;
  }
  .contacto .contacto_conteiner .form_conteiner .contacto__description {
    font-size: 1.1rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .contacto {
    width: 100%;
  }
  .contacto .contacto_conteiner {
    width: 100%;
    padding: 0;
  }
  .contacto .contacto_conteiner .icon_conteiner {
    width: 20%;
    padding: 0 2rem;
  }
  .contacto .contacto_conteiner .form_conteiner {
    width: calc(80% - 0.5rem);
    padding: 0 3rem;
  }
}
body.black {
  background-color: #2c2929;
}
body.black::-webkit-scrollbar-thumb {
  background: #88d0d8;
}
body.black::-webkit-scrollbar-thumb:hover {
  background: #69b7bf;
}
body.black header .header_conteiner {
  background-color: #2c2929;
  color: #CCCCCC;
  border-color: rgba(204, 204, 204, 0.4666666667);
}
body.black header .header_conteiner .name::before {
  color: #88d0d8;
}
body.black header .header_conteiner .name::after {
  color: #88d0d8;
}
body.black header .header_conteiner .nav .nav_item .nav_item_a {
  color: #CCCCCC;
}
body.black header .header_conteiner .nav .nav_item .nav_item_a:hover {
  border-color: #88d0d8;
}
body.black .inicio .inicio__info .inicio__title {
  color: #CCCCCC;
}
body.black .inicio .inicio__info .inicio__title .saludo {
  color: #88d0d8;
}
body.black .inicio .inicio__info .inicio__description {
  color: #CCCCCC;
}
body.black .inicio .inicio__info .inicio__redes .inicio__redes_link {
  color: #CCCCCC;
}
body.black .inicio .inicio__info .inicio__redes .inicio__redes_link .icon-redes {
  color: #88d0d8;
}
body.black .sobre_mi {
  background-color: #88d0d8;
}
body.black .sobre_mi .sobre_mi__conteiner .sobre_mi__title {
  color: #2c2929;
}
body.black .sobre_mi .sobre_mi__conteiner .sobre_mi__description {
  color: #2c2929;
}
body.black .skills_conteiner .skills__title {
  color: #CCCCCC;
}
body.black .skills_conteiner .skills__habilidades .skills__habilidades_card .icon_skills {
  color: #88d0d8;
}
body.black .skills_conteiner .skills__habilidades .skills__habilidades_card .icon_description {
  color: rgba(204, 204, 204, 0.4666666667);
}
body.black .estudios .estudios__title {
  color: #CCCCCC;
}
body.black .estudios .estudios_conteiner .estudio__formaciones_card .formaciones__card_title {
  color: #CCCCCC;
}
body.black .estudios .estudios_conteiner .estudio__formaciones_card .formaciones__card_description {
  color: rgba(204, 204, 204, 0.4666666667);
}
body.black .proyectos .proyectos_title {
  color: #CCCCCC;
}
body.black .proyectos .proyectos_conteiner .proyectos__card {
  background-color: #88d0d8;
  box-shadow: 10px 10px 5px rgba(255, 255, 255, 0.3333333333);
}
body.black .proyectos .proyectos_conteiner .proyectos__card .proyectos__card_title {
  color: #2c2929;
}
body.black .contacto .contacto_conteiner .icon_conteiner .contacto_icon {
  color: #88d0d8;
}
body.black .contacto .contacto_conteiner .form_conteiner .contacto_title {
  color: #CCCCCC;
}
body.black .contacto .contacto_conteiner .form_conteiner .contacto__description {
  color: rgba(204, 204, 204, 0.4666666667);
}
body.black .contacto .contacto_conteiner .form_conteiner .form .input_conteiner input {
  color: #CCCCCC;
  border-color: #88d0d8;
}
body.black .contacto .contacto_conteiner .form_conteiner .form .input_conteiner input.error {
  border-color: #EE0000;
}
body.black .contacto .contacto_conteiner .form_conteiner .form .input_conteiner label {
  color: rgba(204, 204, 204, 0.4666666667);
}
body.black .contacto .contacto_conteiner .form_conteiner .form .input_conteiner span.input-message-error {
  color: #ba5555;
}
body.black .contacto .contacto_conteiner .form_conteiner .form textarea {
  color: #CCCCCC;
  border-color: #88d0d8;
  background-color: rgba(255, 255, 255, 0.0666666667);
}
body.black .contacto .contacto_conteiner .form_conteiner .form textarea::placeholder {
  color: rgba(204, 204, 204, 0.4666666667);
}
body.black .contacto .contacto_conteiner .form_conteiner .form .btn_conteiner .btn_form {
  background-color: rgba(204, 204, 204, 0.4666666667);
  border-color: #88d0d8;
  color: #FFFFFF;
}
body.black .contacto .contacto_conteiner .form_conteiner .form .btn_conteiner .btn_form:active {
  background-color: #CCCCCC;
}
body.black footer .rodapie .rodapie__description {
  color: #CCCCCC;
}
body.black footer .rodapie .rodapie__description .rodapie__description-heart {
  color: #FF0000;
}

.rodapie {
  text-align: center;
  width: 100%;
}

.rodapie__description-heart {
  color: rgba(255, 0, 0, 0.4666666667);
}

/*# sourceMappingURL=index.css.map */
