.sobre_mi {
    background: $background_info;
    padding: 1.5rem 0;

    .sobre_mi__conteiner {
        width: 80%;
        margin: 1.5rem auto;

        .sobre_mi__title {
            @include tituloSec;
            padding-bottom: 1rem
        }

        .sobre_mi__description {
            @include descripciones;
        }
    }
}

@media (min-width: 500px) and (max-width: 768px){
    .sobre_mi {
        .sobre_mi__conteiner {
            margin: .5rem auto;

            .sobre_mi__title {
                font-size: 2rem;
            }

            .sobre_mi__description {
                font-size: 1.1rem;
            }
        }
    }
}