.skills_conteiner {
    justify-content: center;
    text-align: center;
    width: 80%;
    margin: 0 auto;;
    padding: 1.5rem 0;
}

.skills__habilidades {
    padding: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.skills__habilidades_card {
    padding: 1rem;
    width: 125px;
    height: 125px;
    background: var(--backgruond_card);
    text-align: center;
}

.icon_skills {
    font-size: 5rem;
    padding: 10px;
    color: var(--color_icon);
}

.icon_description, 
.formaciones__card_description,
.rodapie__description,
.contacto__description,
label {
    color: var(--color_description);
}
