.sobre_mi {
    display: flex;
    background: var(--background_info);
    justify-content: center;
}

.sobre_mi__conteiner {
    width: 40%;
    padding: 1rem 40% 1rem 0;
}

.sobre_mi__title, 
.skills__title, 
.estudios__title, 
.formaciones__card_title,
.contacto_title {
    font-size: 2.5rem;
    font-family: var(--fuente_second_title);
    font-weight: bold;
    color: #000000AA;
}

.sobre_mi__firma {
    margin: .5rem 0;
}